<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<footer class="footer">
    <p></p>
    <h5>Created by Ketaki Butte and Kaustubh Butte</h5>
    <a href="https://www.linkedin.com/in/ketaki-butte-70b676128/" target="_blank"><img src="linkedin.png" alt="logo" style="width: 40px;height: 40px;margin-bottom: :10px;" ></a>
    <a href="https://github.com/kaustubh77" target="_blank"><img src="github.png" alt="logo" style="width: 40px;height: 40px;margin-bottom: :10px;margin-left: 1%;" ></a>
  </div>
</footer>
</body>
</html>