<!DOCTYPE html>
<html>
<head>
	<title>Login/Register</title>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<!------ Include the above in your HEAD tag ---------->
	<style type="text/css">

body {
    padding-top: 90px;
}
.vertical-nav {
  min-width: 16%;
  width: 16%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
  
}

#sidebar.active {
  margin-left: -17rem;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -17rem;
  }
  #sidebar.active {
    margin-left: 0;
  }
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

.separator {
  margin: 3rem 0;
  border-bottom: 1px dashed #fff;
}

.text-uppercase {
  letter-spacing: 0.1em;
}

.text-gray {
  color: #aaa;
}
.container{
	margin-left: 28%;
}
.panel-login {
	border-color: #ccc;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
	color: #00415d;
	background-color: #fff;
	border-color: #fff;
	text-align:center;
}
.panel-login>.panel-heading a{
	text-decoration: none;
	color: #666;
	font-weight: bold;
	font-size: 15px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
	color: #029f5b;
	font-size: 18px;
}
.panel-login>.panel-heading hr{
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
	height: 45px;
	border: 1px solid #ddd;
	font-size: 16px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
	outline:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #ccc;
}
.btn-login {
	background-color: #59B2E0;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #59B2E6;
}
.btn-login:hover,
.btn-login:focus {
	color: #fff;
	background-color: #53A3CD;
	border-color: #53A3CD;
}
.forgot-password {
	text-decoration: underline;
	color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
	text-decoration: underline;
	color: #666;
}

.btn-register {
	background-color: #1CB94E;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #1CB94A;
}
.btn-register:hover,
.btn-register:focus {
	color: #fff;
	background-color: #1CA347;
	border-color: #1CA347;
}
.footer{
  /*position: absolute;*/
  background:#343A40;
  padding: 1% 1%;
  bottom: 0;
  width: 100%;
  height: 15%;
  color: #ffffff;
  text-align: center;
  /*overflow: auto;*/
}
	</style>
</head>
<body>

<div class="vertical-nav bg-white" id="sidebar" style="height: 100%;">
  <div class="py-4 px-3 mb-4 bg-light">
    <div class="media d-flex align-items-center">
    	<img src="http://lh3.googleusercontent.com/JI03c8U3TElg-SP9FbTPtIjEzNafWyLSxy89HmFrTE8_-oEbe0C_kuKbG8yDKQUoCqE=w300" alt="..." width="50%" class="mr-3 rounded-circle img-thumbnail shadow-sm" style="margin-left: 25%">
      
    </div>
    <div class="media-body" style="float:center;">
        <h1 class="m-0">Planning Buddy</h1>
        <h3 class="font-weight-light text-muted mb-0">Your personal planner</h3>
      </div>
  </div>
      <ul class="nav flex-column bg-white mb-0">
    <li class="nav-item">
      <form action="/register" method="get">
      <button style="width: 100%;" class="nav-link text-dark font-italic bg-light">
                <i class="fa fa-th-large mr-3 text-primary fa-fw" ></i>
                Register
            </button>
            </form>
    </li>
    </li>
  </ul>
  </div>

  
</div>

<img src="http://lh3.googleusercontent.com/JI03c8U3TElg-SP9FbTPtIjEzNafWyLSxy89HmFrTE8_-oEbe0C_kuKbG8yDKQUoCqE=w300" alt="..." width="10%" style="margin-left: 53%">
<br>
<div>
	<h2 class="font-weight-dark text-muted mb-0" style="margin-left: 24%; margin-right: 8%; text-align: center;">
		Ever wanted to have a buddy you wanted to work with so that you don't lose your productivity? Well, worry not! You are at the right place. Planning buddy helps you plan your tasks and helps you keep track of the tasks that you need to do and also keeps a tab of all the tasks you have completed. Planning buddy stores your session and your tasks, so that you have access to your tasks on any device. 
		<br><br>So what are you waiting for, Register now!
	</h2>
</div>
<br>

<div class="container">
    	<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-login">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-6">
								<a href="#" class="active" id="login-form-link">Login</a>
							</div>
							<<!-- div class="col-xs-6">
								<a href="#" id="register-form-link">Register</a>
							</div>-->
						</div>
						<hr>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
								<form id="login-form" action="/login" method="post" style="display: block;">
									<div class="form-group">
										<input type="text" name="uname" id="username" tabindex="1" class="form-control" placeholder="Username" value="" required autocomplete="off">
									</div>
									<div class="form-group">
										<input type="password" name="pass" id="password" tabindex="2" class="form-control" placeholder="Password" required >
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In">
											</div>
										</div>
									</div>
									</form>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<form action="/register" method="get">
												<input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now">
												</form>
											</div>
										</div>
									</div>
								

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<footer class="footer">
    <p></p>
    <h4 style="margin-left: 3%;">Created by Ketaki Butte </h4>
    <a href="https://www.linkedin.com/in/ketaki-butte-70b676128/" target="_blank"><img src="/linkedin.png" alt="logo" style="width: 40px;height: 40px;margin-bottom: :10px;margin-left: 2%;" ></a>
    <a href="https://github.com/covidkillers" target="_blank"><img src="github.png" alt="logo" style="width: 40px;height: 40px;margin-bottom: :10px;margin-left: 1%;" ></a>
  </div>
</footer>
</body>
<script type="text/javascript">
	$(function() {

    $('#login-form-link').click(function(e) {
		$("#login-form").delay(100).fadeIn(100);
 		$("#register-form").fadeOut(100);
		$('#register-form-link').removeClass('active');
		$(this).addClass('active');
		e.preventDefault();
	});
	$('#register-form-link').click(function(e) {
		$("#register-form").delay(100).fadeIn(100);
 		$("#login-form").fadeOut(100);
		$('#login-form-link').removeClass('active');
		$(this).addClass('active');
		e.preventDefault();
	});

});

</script>
</html>